.bg-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #FFF0F5;
}
.input-bar{
    width: 50%;
    height: 30px;
    border-radius: 8px;
    border: 0px;
    outline: none;
    text-align: end;
    padding: 7px;
    padding-right: 20px;
    font-size: 18px;
    font-family: ROboto;
    font-weight: bold;
}
.first-line{
    width: 50%;
    display: flex;
    
}
.button{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #E6E6FA;
    color:#A9A9A9;
    border: 0px;
    outline: none;
}
.buttons-num{
    width: 50px;
    height: 50px;
    border-radius: 100px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color:white;
    color:gray;
    border: 0px;
    outline: none;
}
.button-result{
    width: 120px;
    height: 50px;
    border-radius: 100px;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color:#0fee7e;
    color:black;
    border: 0px;
    outline: none;
}

.button:hover{
    color: rgb(22, 101, 22);
    transition: 0.5s;
    transform: scale(1.15);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.buttons-num:hover{
    color: rgb(22, 101, 22);
    transition: 0.5s;
    transform: scale(1.15);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.button-result:hover{
    color: rgb(22, 101, 22);
    transition: 0.5s;
    transform: scale(1.15);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}
.result{
    text-align: end;
    width: 50%;
    font-weight: bold;
    margin-bottom: 0px;
    font-size: 20px;
    font-family: Roboto;
}
